<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <% for( let result of content ) { %>
        <tr>
            <td><%= result.fighter %></td>
            <td><%= result.series %></td>
            <td><%= result.work %></td>
        </tr>
        <% } %>
    </table>
 
</body>
</html>