<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <h1>大乱闘スマッシュブラザーズシリーズ</h1>
    <section>
    <h3><a href="/games">ゲーム名</a></h3>
    </section>
    <section>
    <h3><a href="/characters">キャラクター名</a></h3>
    </section>
    <section>
    <h3><a href="/other">参戦作品など</a></h3>
    </section>
</body>
</html>
